In [1]:
from Script.General import *

g = General()

# Register Variable

In [2]:
register = [
    ['kas','2','CurrentYearInstant','Kas dan setara kas'],
    ['kas','2','CurrentYearInstant','Kas'],  
    ['jumlah_aset_lancar','2','CurrentYearInstant','Jumlah aset lancar'],
    ['persediaan','2','CurrentYearInstant','Persediaan lancar lainnya'],
    ['piutang_pihak_tiga','2','CurrentYearInstant','Piutang usaha pihak ketiga'],
    ['piutang_relasi','2','CurrentYearInstant','Piutang usaha pihak berelasi'],
    ['jumlah_aset_tidak_lancar','2','CurrentYearInstant','Jumlah aset tidak lancar'],
    ['jumlah_aset','2','CurrentYearInstant','Jumlah aset'],
    ['jumlah_liabilitas_jangka_pendek','2','CurrentYearInstant','Jumlah liabilitas jangka pendek'],
    ['jumlah_liabilitas_jangka_panjang','2','CurrentYearInstant','Jumlah liabilitas jangka panjang'],
    ['jumlah_ekuitas','2','CurrentYearInstant','Jumlah ekuitas'],
    ['jumlah_liabilitas','2','CurrentYearInstant','Jumlah liabilitas'],
    ['jumlah_ekuitas','2','CurrentYearInstant','Jumlah ekuitas'],
    ['pendapatan','3','CurrentYearDuration','Penjualan dan pendapatan usaha'],
    ['pendapatan','3','CurrentYearDuration','Pendapatan dari premi asuransi'],
    ['pendapatan','3','CurrentYearDuration','Pendapatan bunga'],
    ['pendapatan','3','CurrentYearDuration',['Pendapatan bunga dan keuangan','Pendapatan dari murabahah dan istishna','Pendapatan dari pembiayaan konsumen','Pendapatan dari sewa pembiayaan','Pendapatan administrasi','Pendapatan dari provisi dan komisi','Pendapatan dividen','Penerimaan kembali aset yang telah dihapusbukukan','Keuntungan (kerugian) selisih kurs mata uang asing','Keuntungan (kerugian) pelepasan aset tetap','Pendapatan lainnya']],
    ['cogs','3','CurrentYearDuration','Beban pokok penjualan dan pendapatan'],
    ['laba_bruto','3','CurrentYearDuration','Jumlah laba bruto'],
    ['laba_rugi','3','CurrentYearDuration','Jumlah laba (rugi)'],
    ['laba_rugi_komprehensif','3','CurrentYearDuration','Jumlah laba rugi komprehensif'],
    ['EPS','3','CurrentYearDuration','Laba (rugi) per saham dasar dari operasi yang dilanjutkan'],
]

# Industry Categorization

In [3]:
def list_cat(x):
    folder_list = os.listdir(x['folder_path'])
    value = np.nan
    for fd in folder_list:
        if "1210000.html" in fd:
            value = "General"
        elif "6220000.html" in fd:
            value = "Insurance"
        elif "1220000.html" in fd:
            value = "General - liquidity"
        elif "2210000.html" in fd:
            value = "Property"
        elif "8220000.html" in fd:
            value = "Finance Industry"
        elif "4220000.html" in fd :
            value = "Financial and Shariah"
        elif "3210000.html" in fd :
            value = "Infrastructure Industry"
        elif "2220000.html" in fd :
            value = "Property"
        elif "5220000.html" in fd :
            value = "Securities Industry"
        elif "3220000.html" in fd :
            value = "Infrastructure Industry - liqudity"

    
    return value

In [4]:
folder_list_ori = g.add_folder_columns()
folder_list_ori['category'] = folder_list_ori.apply(lambda x:list_cat(x),axis=1)
folder_list_ori.to_csv("category.csv",index=False)

In [5]:
folder_list_ori

,Unnamed: 0,Company,Date,Tahun_Buku,Link,folder_path,category
0,0,AALI,24 Februari 2021 | 14:27,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,General
1,1,ABBA,25 Agustus 2021 | 23:48,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,General
2,2,ABDA,31 Maret 2021 | 16:50,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,Insurance
3,3,ABMM,31 Mei 2021 | 15:01,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,General
4,4,ACES,06 Mei 2021 | 17:16,2020,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,General
...,...,...,...,...,...,...,...
2243,2243,ZATA,03 April 2023 | 15:02,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,General
2244,2244,ZBRA,10 April 2023 | 17:54,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,General
2245,2245,ZINC,26 Juni 2023 | 21:49,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,General
2246,2246,ZONE,03 April 2023 | 15:09,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,General
2247,2247,ZYRX,02 Mei 2023 | 13:37,2022,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...,General

# Script Extract XBRL

In [6]:
folder_list = g.add_folder_columns()
folder_list = folder_list[folder_list['Company']=='ADMF']
#folder_list = folder_list[folder_list['Tahun_Buku']==2021]
folder_list

,Unnamed: 0,Company,Date,Tahun_Buku,Link,folder_path
717,717,ADMF,09 Mei 2022 | 15:27,2021,https://www.idx.co.id/Portals/0/StaticData/Lis...,c:\Users\arsen\OneDrive\Temp\Scraping IDX\Data...

In [7]:
val_list = pd.DataFrame()
i=0

for row in folder_list.itertuples():
    val={}
    folder_path = row.folder_path
    val['Company'] = row.Company
    val['Tahun_Buku'] = row.Tahun_Buku
    val['Tanggal Rilis'] = row.Date
    

    for x in register:

        try:
            dire = os.listdir(folder_path)
            for file_name in dire:
                if x[1] in file_name[1]:
                    file_path = file_name
                    
            if type(x[3]) == list:
                val[f'{x[0]}'] = g.get_multiple_data(folder_path,file_path,x[2],x[3])
                    
            else:  
                val[f'{x[0]}'] = g.get_data(folder_path,file_path,x[2],x[3])
            
        except:
            pass
    
    val = pd.DataFrame(val,index=[i])
    val_list = pd.concat([val_list,val])
    i+=1

folder_list_ori['Company']=folder_list_ori[['Company']].astype(str)
folder_list_ori = folder_list_ori.drop_duplicates(subset=['Company'],keep='first')
folder_list_ori = folder_list_ori[['Company','category']]
folder_list_ori = folder_list_ori.set_index('Company')
val_list = val_list.join(folder_list_ori,on='Company',how='left')

# Script Extract Tanggal

In [8]:
from datetime import datetime, timedelta

In [9]:
month_converter = {
    'Januari' : 'January',
    'Februari' : 'February',
    'Maret' : 'March',
    'April' : 'April',
    'Mei' : 'May',
    'Juni' : 'June',
    'Juli' : 'July',
    'Agustus' : 'August',
    'September' : 'September',
    'Oktober' : 'October',
    'November' : 'November',
    'Desember' : 'December'
}

for indonesia_month, english_month in month_converter.items():
    val_list['Tanggal Rilis'] = val_list['Tanggal Rilis'].str.replace(indonesia_month, english_month)

In [10]:
date_format = "%d %B %Y | %H:%M"
val_list['Tanggal Rilis'] = pd.to_datetime(val_list['Tanggal Rilis'],format=date_format)

In [11]:
val_list['End of Next Month'] = val_list['Tanggal Rilis'] + timedelta(days=14)

In [12]:
val_list

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset,jumlah_ekuitas,jumlah_liabilitas,pendapatan,laba_rugi,laba_rugi_komprehensif,EPS,category,End of Next Month
0,ADMF,2021,2022-05-09 15:27:00,153864.0,23725885.0,8887006.0,14838879.0,8653143.0,1212700.0,1474731.0,1213.0,Finance Industry,2022-05-23 15:27:00

# Tarik Data Saham

In [13]:
import yfinance as yf

In [14]:
def avg_seven_day(x):
    company_code = f'{x["Company"]}.JK'
    start_date = x['Tanggal Rilis'].strftime('%Y-%m-%d')
    end_date = x['End of Next Month'].strftime('%Y-%m-%d')

    data = yf.download(company_code,start_date,end_date)
    value = data['Adj Close'].head(7).mean()
    return value

In [15]:
val_list['Avg Harga Saham 7 Hari'] = val_list.apply(lambda x: avg_seven_day(x),axis=1)
val_list.drop(['End of Next Month'],axis=1,inplace=True)

[*********************100%***********************]  1 of 1 completed

In [16]:
val_list.to_csv('data_raw.csv',index=False)