In [8]:
import pandas as pd

# Load data_raw.csv

In [9]:
data = pd.read_csv('data_raw.csv')

data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,persediaan,piutang_pihak_tiga,piutang_relasi,jumlah_aset_tidak_lancar,jumlah_aset,...,jumlah_ekuitas,jumlah_liabilitas,pendapatan,cogs,laba_bruto,laba_rugi,laba_rugi_komprehensif,EPS,category,Avg Harga Saham 7 Hari
0,AALI,2020,2021-02-24 14:27:00,9.788920e+05,5.937890e+06,2.165603e+06,3.911890e+05,3.746600e+05,2.184334e+07,2.778123e+07,...,1.924779e+07,8.533437e+06,2.987270e+05,1.584415e+07,2.962891e+06,8.937790e+05,4.672530e+05,432.84000,General,10057.716518
1,ABBA,2020,2021-08-25 23:48:00,2.672453e+10,6.413759e+10,4.693148e+09,2.100572e+10,1.629212e+09,1.575117e+11,2.216493e+11,...,1.037107e+11,3.253600e+11,1.156309e+10,8.206386e+10,7.654403e+10,5.833187e+10,1.498279e+11,16.30000,General,672.857143
2,ABDA,2020,2021-03-31 16:50:00,6.520837e+08,NaN,NaN,NaN,NaN,NaN,2.477782e+09,...,1.387236e+09,1.090546e+09,5.728519e+08,NaN,NaN,1.381903e+08,1.707800e+08,223.00000,Insurance,6821.888184
3,ABMM,2020,2021-05-31 15:01:00,1.092124e+08,3.141606e+08,3.771542e+07,1.052897e+08,3.332520e+07,5.130766e+08,8.272372e+08,...,1.617491e+08,6.654880e+08,1.265325e+07,5.048924e+08,1.015150e+08,3.774006e+07,5.845940e+07,0.01295,General,675.715995
4,ACES,2020,2021-05-06 17:16:00,2.219785e+12,5.034737e+12,2.453227e+12,2.839597e+10,1.150867e+11,2.212327e+12,7.247064e+12,...,5.222243e+12,2.024821e+12,1.392052e+11,3.753585e+12,3.659182e+12,7.313106e+11,8.338070e+11,42.86000,General,1329.044887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,ZATA,2022,2023-04-03 15:02:00,2.447842e+10,4.568389e+11,NaN,2.407057e+10,NaN,2.688539e+11,7.256928e+11,...,5.119395e+11,2.137533e+11,3.623528e+09,1.082183e+11,8.673990e+10,5.768875e+09,5.464071e+09,1.34000,General,67.857143
2244,ZBRA,2022,2023-04-10 17:54:00,1.715849e+10,2.446170e+12,NaN,6.638361e+11,2.642131e+09,7.101042e+11,3.156274e+12,...,1.260000e+12,1.896274e+12,3.872730e+10,2.607505e+12,3.508625e+11,1.123083e+11,1.092776e+11,46.45000,General,480.285714
2245,ZINC,2022,2023-06-26 21:49:00,5.346490e+10,6.777764e+11,NaN,4.041607e+10,NaN,1.798178e+12,2.475954e+12,...,7.731216e+11,1.702832e+12,-8.577236e+10,5.399108e+11,1.774307e+11,1.147091e+11,1.141491e+11,4.08000,General,50.000000
2246,ZONE,2022,2023-04-03 15:09:00,4.910326e+09,3.747793e+11,NaN,2.603932e+10,NaN,2.770019e+11,6.517812e+11,...,3.468482e+11,3.049330e+11,-2.986431e+08,2.961784e+11,3.767030e+11,7.294051e+10,7.234408e+10,84.00000,General,1173.548880
2247,ZYRX,2022,2023-05-02 13:37:00,2.063763e+11,6.232536e+11,NaN,7.301066e+10,9.154763e+09,8.397621e+10,7.072298e+11,...,2.682893e+11,4.389405e+11,3.471399e+09,6.262341e+11,1.441361e+11,7.862742e+10,7.873106e+10,58.97000,General,287.540876

# Changes Format Number to Float

In [10]:
header_exclude = ['Company','Tahun_Buku','Tanggal Rilis','category','End of Next Month']

header_list_changes =[]

for i in data.columns:
    if i not in header_exclude:
        header_list_changes.append(i)

header_list_changes

data[header_list_changes] = data[header_list_changes].replace({',': ''}, regex=True).astype(float)

In [11]:
data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,persediaan,piutang_pihak_tiga,piutang_relasi,jumlah_aset_tidak_lancar,jumlah_aset,...,jumlah_ekuitas,jumlah_liabilitas,pendapatan,cogs,laba_bruto,laba_rugi,laba_rugi_komprehensif,EPS,category,Avg Harga Saham 7 Hari
0,AALI,2020,2021-02-24 14:27:00,9.788920e+05,5.937890e+06,2.165603e+06,3.911890e+05,3.746600e+05,2.184334e+07,2.778123e+07,...,1.924779e+07,8.533437e+06,2.987270e+05,1.584415e+07,2.962891e+06,8.937790e+05,4.672530e+05,432.84000,General,10057.716518
1,ABBA,2020,2021-08-25 23:48:00,2.672453e+10,6.413759e+10,4.693148e+09,2.100572e+10,1.629212e+09,1.575117e+11,2.216493e+11,...,1.037107e+11,3.253600e+11,1.156309e+10,8.206386e+10,7.654403e+10,5.833187e+10,1.498279e+11,16.30000,General,672.857143
2,ABDA,2020,2021-03-31 16:50:00,6.520837e+08,NaN,NaN,NaN,NaN,NaN,2.477782e+09,...,1.387236e+09,1.090546e+09,5.728519e+08,NaN,NaN,1.381903e+08,1.707800e+08,223.00000,Insurance,6821.888184
3,ABMM,2020,2021-05-31 15:01:00,1.092124e+08,3.141606e+08,3.771542e+07,1.052897e+08,3.332520e+07,5.130766e+08,8.272372e+08,...,1.617491e+08,6.654880e+08,1.265325e+07,5.048924e+08,1.015150e+08,3.774006e+07,5.845940e+07,0.01295,General,675.715995
4,ACES,2020,2021-05-06 17:16:00,2.219785e+12,5.034737e+12,2.453227e+12,2.839597e+10,1.150867e+11,2.212327e+12,7.247064e+12,...,5.222243e+12,2.024821e+12,1.392052e+11,3.753585e+12,3.659182e+12,7.313106e+11,8.338070e+11,42.86000,General,1329.044887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,ZATA,2022,2023-04-03 15:02:00,2.447842e+10,4.568389e+11,NaN,2.407057e+10,NaN,2.688539e+11,7.256928e+11,...,5.119395e+11,2.137533e+11,3.623528e+09,1.082183e+11,8.673990e+10,5.768875e+09,5.464071e+09,1.34000,General,67.857143
2244,ZBRA,2022,2023-04-10 17:54:00,1.715849e+10,2.446170e+12,NaN,6.638361e+11,2.642131e+09,7.101042e+11,3.156274e+12,...,1.260000e+12,1.896274e+12,3.872730e+10,2.607505e+12,3.508625e+11,1.123083e+11,1.092776e+11,46.45000,General,480.285714
2245,ZINC,2022,2023-06-26 21:49:00,5.346490e+10,6.777764e+11,NaN,4.041607e+10,NaN,1.798178e+12,2.475954e+12,...,7.731216e+11,1.702832e+12,-8.577236e+10,5.399108e+11,1.774307e+11,1.147091e+11,1.141491e+11,4.08000,General,50.000000
2246,ZONE,2022,2023-04-03 15:09:00,4.910326e+09,3.747793e+11,NaN,2.603932e+10,NaN,2.770019e+11,6.517812e+11,...,3.468482e+11,3.049330e+11,-2.986431e+08,2.961784e+11,3.767030e+11,7.294051e+10,7.234408e+10,84.00000,General,1173.548880
2247,ZYRX,2022,2023-05-02 13:37:00,2.063763e+11,6.232536e+11,NaN,7.301066e+10,9.154763e+09,8.397621e+10,7.072298e+11,...,2.682893e+11,4.389405e+11,3.471399e+09,6.262341e+11,1.441361e+11,7.862742e+10,7.873106e+10,58.97000,General,287.540876

# Ratio Calculation

In [12]:
# Price Earning Ratio

data['per'] = data['Avg Harga Saham 7 Hari'] / data['EPS']

# Current Ratio
data['current_ratio'] = data['jumlah_aset_lancar'] / data['jumlah_liabilitas_jangka_pendek']

#Quick Ratio
data['quick_ratio'] = (data['jumlah_aset_lancar'] - data['persediaan']) / data['jumlah_liabilitas_jangka_pendek']

#Cash Ratio 
data['cash_ratio'] = data['kas'] / data['jumlah_liabilitas_jangka_pendek']

#Account Receivable Turnover
data['AR_Turnover'] = data['pendapatan']/(data['piutang_pihak_tiga']+data['piutang_relasi'])

#Account Receivable Turnover in Days
data['AR_Turnover_in_Days'] = int(365) / data['AR_Turnover']

#Asset Turnover
data['Aset_Turnover'] = data['pendapatan'] / data['jumlah_aset']

#Inventory Turnover
data['inventory_turnover'] = data['cogs'] / data['persediaan']

#deb to Equity
data['debt_to_equity'] = data['jumlah_liabilitas'] / data['jumlah_ekuitas']

#equity ratio
data['equity_ratio'] = data['jumlah_ekuitas'] / data['jumlah_aset']

#Debt Ratio --> Is it needed? even already had equity ratio?
data['debt_ratio'] = data['jumlah_liabilitas'] / data['jumlah_aset']

#Gross Profit Margin
data['gpm'] = data['laba_bruto'] / data['pendapatan']

#Net Profit Margin
data['net_profit_margin'] = data['laba_rugi_komprehensif'] / data['pendapatan']

#Return on Asset
data['roa'] = data['laba_rugi_komprehensif'] / data['jumlah_aset']

#return on Capital Employed
data['roce'] = data['laba_bruto']/(data['jumlah_ekuitas']+data['jumlah_liabilitas_jangka_panjang'])

In [13]:
data.to_csv('data_olahan.csv', index=False)

# Number of nan

In [14]:
number_of_missing_value = data.isna().sum()

In [15]:
number_of_missing_value

Company                                0
Tahun_Buku                             0
Tanggal Rilis                          0
kas                                    3
jumlah_aset_lancar                   296
persediaan                          1306
piutang_pihak_tiga                   347
piutang_relasi                      1168
jumlah_aset_tidak_lancar             296
jumlah_aset                            3
jumlah_liabilitas_jangka_pendek      296
jumlah_liabilitas_jangka_panjang     296
jumlah_ekuitas                         3
jumlah_liabilitas                      3
pendapatan                             4
cogs                                 400
laba_bruto                           367
laba_rugi                              3
laba_rugi_komprehensif                 3
EPS                                    3
category                               0
Avg Harga Saham 7 Hari                11
per                                   14
current_ratio                        296
quick_ratio                         1306
cash_ratio                           296
AR_Turnover                         1180
AR_Turnover_in_Days                 1180
Aset_Turnover                          4
inventory_turnover                  1334
debt_to_equity                         3
equity_ratio                           3
debt_ratio                             3
gpm                                  367
net_profit_margin                      4
roa                                    3
roce                                 391
dtype: int64