In [1]:
import pandas as pd

# Load data_raw.csv

In [2]:
data = pd.read_csv('data_raw.csv')

data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,persediaan,piutang,jumlah_aset_tidak_lancar,jumlah_aset,jumlah_liabilitas_jangka_pendek,...,jumlah_ekuitas,jumlah_liabilitas,pendapatan,cogs,laba_bruto,laba_rugi,laba_rugi_komprehensif,EPS,category,7D_Avg
0,AALI,2020,2021-02-24 14:27:00,9.788920e+05,5.937890e+06,2.165603e+06,1.513218e+06,2.184334e+07,2.778123e+07,1.792506e+06,...,1.924779e+07,8.533437e+06,1.880704e+07,-1.584415e+07,1.462635e+06,8.937790e+05,4.672530e+05,432.84000,General,10057.715402
1,ABBA,2020,2021-08-25 23:48:00,2.672453e+10,6.413759e+10,4.693148e+09,3.208438e+10,1.575117e+11,2.216493e+11,2.352234e+11,...,-1.037107e+11,3.253600e+11,1.586079e+11,-8.206386e+10,-4.815920e+10,-5.833187e+10,-1.498279e+11,-16.30000,General,672.857143
2,ABDA,2020,2021-03-31 16:50:00,6.520837e+08,2.214891e+09,NaN,1.077348e+08,2.628904e+08,2.477782e+09,5.249200e+07,...,1.387236e+09,1.090546e+09,5.728519e+08,-6.733758e+08,1.608748e+08,1.381903e+08,1.707800e+08,223.00000,Insurance,6821.888184
3,ABMM,2020,2021-05-31 15:01:00,1.092124e+08,3.141606e+08,3.771542e+07,1.584556e+08,5.130766e+08,8.272372e+08,2.626915e+08,...,1.617491e+08,6.654880e+08,6.064074e+08,-5.048924e+08,-2.393122e+07,-3.774006e+07,-5.845940e+07,-0.01295,General,675.715995
4,ACES,2020,2021-05-06 17:16:00,2.219785e+12,5.034737e+12,2.453227e+12,3.421895e+11,2.212327e+12,7.247064e+12,8.449281e+11,...,5.222243e+12,2.024821e+12,7.412767e+12,-3.753585e+12,9.233358e+11,7.313106e+11,8.338070e+11,42.86000,General,1329.044887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,ZATA,2022,2023-04-03 15:02:00,2.447842e+10,4.568389e+11,NaN,1.166184e+11,2.688539e+11,7.256928e+11,5.706682e+10,...,5.119395e+11,2.137533e+11,1.949582e+11,-1.082183e+11,9.485564e+09,5.768875e+09,5.464071e+09,1.34000,General,67.857143
2241,ZBRA,2022,2023-04-10 17:54:00,1.715849e+10,2.446170e+12,NaN,1.128596e+12,7.101042e+11,3.156274e+12,1.728423e+12,...,1.260000e+12,1.896274e+12,2.958368e+12,-2.607505e+12,-1.097531e+11,-1.123083e+11,-1.092776e+11,46.45000,General,480.285714
2242,ZINC,2022,2023-06-26 21:49:00,5.346490e+10,6.777764e+11,NaN,4.375605e+11,1.798178e+12,2.475954e+12,7.080128e+11,...,7.731216e+11,1.702832e+12,7.173416e+11,-5.399108e+11,-1.288860e+11,-1.147091e+11,-1.141491e+11,-4.08000,General,50.000000
2243,ZONE,2022,2023-04-03 15:09:00,4.910326e+09,3.747793e+11,NaN,4.837608e+10,2.770019e+11,6.517812e+11,1.991748e+11,...,3.468482e+11,3.049330e+11,6.728814e+11,-2.961784e+11,9.707721e+10,7.294051e+10,7.234408e+10,84.00000,General,1196.428571
2244,ZYRX,2022,2023-05-02 13:37:00,2.063763e+11,6.232536e+11,NaN,1.323574e+11,8.397621e+10,7.072298e+11,4.322842e+11,...,2.682893e+11,4.389405e+11,7.703702e+11,-6.262341e+11,1.013528e+11,7.862742e+10,7.873106e+10,58.97000,General,296.857143

In [5]:
data = data[data.isna().any(axis=1)]
data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,persediaan,piutang,jumlah_aset_tidak_lancar,jumlah_aset,jumlah_liabilitas_jangka_pendek,...,jumlah_ekuitas,jumlah_liabilitas,pendapatan,cogs,laba_bruto,laba_rugi,laba_rugi_komprehensif,EPS,category,7D_Avg
2,ABDA,2020,2021-03-31 16:50:00,6.520837e+08,2.214891e+09,NaN,1.077348e+08,2.628904e+08,2.477782e+09,5.249200e+07,...,1.387236e+09,1.090546e+09,5.728519e+08,-6.733758e+08,1.608748e+08,1.381903e+08,1.707800e+08,223.00,Insurance,6821.888184
15,AHAP,2020,2022-10-12 16:46:00,1.341178e+10,5.060707e+11,NaN,1.553290e+11,2.371950e+10,5.777448e+11,8.313476e+10,...,1.055691e+11,4.721757e+11,4.059298e+11,-1.812195e+11,9.797219e+09,1.050659e+10,1.248011e+10,3.57,Insurance,94.428571
16,AIMS,2020,2021-03-16 19:34:00,6.851794e+07,3.302694e+09,NaN,3.184177e+09,1.747950e+10,2.078219e+10,3.804112e+09,...,1.277558e+10,8.006617e+09,4.718436e+09,-4.487037e+09,-8.394713e+08,-8.630635e+08,-8.630635e+08,-3.92,General,238.857143
21,AKSI,2020,2021-05-28 18:51:00,6.920995e+10,1.651095e+11,NaN,9.563821e+10,1.331517e+11,2.982612e+11,1.149594e+11,...,1.064911e+11,1.917701e+11,5.216175e+11,-4.646791e+11,6.342660e+09,3.036178e+09,2.914965e+09,4.19,General,601.428571
26,AMAG,2020,2021-03-31 12:49:00,1.002410e+09,4.542440e+09,NaN,3.763326e+08,1.936734e+08,4.737130e+09,2.608119e+08,...,2.006375e+09,2.730755e+09,1.950067e+09,-6.104891e+08,1.238552e+08,1.072533e+08,2.053266e+08,21.44,Insurance,187.099145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2240,ZATA,2022,2023-04-03 15:02:00,2.447842e+10,4.568389e+11,NaN,1.166184e+11,2.688539e+11,7.256928e+11,5.706682e+10,...,5.119395e+11,2.137533e+11,1.949582e+11,-1.082183e+11,9.485564e+09,5.768875e+09,5.464071e+09,1.34,General,67.857143
2241,ZBRA,2022,2023-04-10 17:54:00,1.715849e+10,2.446170e+12,NaN,1.128596e+12,7.101042e+11,3.156274e+12,1.728423e+12,...,1.260000e+12,1.896274e+12,2.958368e+12,-2.607505e+12,-1.097531e+11,-1.123083e+11,-1.092776e+11,46.45,General,480.285714
2242,ZINC,2022,2023-06-26 21:49:00,5.346490e+10,6.777764e+11,NaN,4.375605e+11,1.798178e+12,2.475954e+12,7.080128e+11,...,7.731216e+11,1.702832e+12,7.173416e+11,-5.399108e+11,-1.288860e+11,-1.147091e+11,-1.141491e+11,-4.08,General,50.000000
2243,ZONE,2022,2023-04-03 15:09:00,4.910326e+09,3.747793e+11,NaN,4.837608e+10,2.770019e+11,6.517812e+11,1.991748e+11,...,3.468482e+11,3.049330e+11,6.728814e+11,-2.961784e+11,9.707721e+10,7.294051e+10,7.234408e+10,84.00,General,1196.428571
2244,ZYRX,2022,2023-05-02 13:37:00,2.063763e+11,6.232536e+11,NaN,1.323574e+11,8.397621e+10,7.072298e+11,4.322842e+11,...,2.682893e+11,4.389405e+11,7.703702e+11,-6.262341e+11,1.013528e+11,7.862742e+10,7.873106e+10,58.97,General,296.857143