In [8]:
import pandas as pd

In [9]:
data = pd.read_csv('data_olahan.csv')
data = data[data['laba_rugi'].notna()]

In [10]:
data

,Company,Tahun_Buku,Tanggal Rilis,kas,jumlah_aset_lancar,piutang,jumlah_aset_tidak_lancar,jumlah_aset,jumlah_liabilitas_jangka_pendek,jumlah_liabilitas_jangka_panjang,...,AR_Turnover,AR_Turnover_in_Days,Aset_Turnover,debt_to_equity,equity_ratio,debt_ratio,gpm,net_profit_margin,roa,roce
0,BANK,2021,2022-03-31 17:47:00,2.240000e+02,2.056523e+06,1.000000e-06,1.166390e+05,2.173162e+06,4.045000e+03,8.460600e+04,...,3.626900e+10,1.006369e-08,0.016690,0.084726,0.481477,0.040794,-3.343765,-3.124679,-0.052149,-0.107234
1,LAPD,2021,2022-03-31 as:21:00,4.996100e+04,4.996100e+04,1.000000e-06,2.797800e+04,7.793900e+04,2.481495e+08,6.730610e+05,...,5.434000e+09,6.716967e-08,0.069721,-1.000313,-3191.529504,3192.529504,-19953.246780,-19961.677033,-1391.751921,0.437075
2,NICK,2021,2022-03-14 10:08:00,1.151513e+10,3.043375e+11,1.000000e-06,1.096604e+10,3.153035e+11,8.257848e+08,1.980080e+08,...,2.184079e+17,1.671185e-15,0.692691,0.003258,0.996753,0.003247,0.990364,0.990644,0.686210,0.687818
3,OASA,2021,2022-04-01 00:35:00,1.304324e+10,4.763377e+10,1.000000e-06,2.387116e+08,4.787248e+10,4.642622e+07,8.148600e+07,...,3.410782e+15,1.070136e-13,0.071247,0.002679,0.997328,0.002672,0.412715,0.391007,0.027858,0.029433
4,PLAN,2021,2022-04-30 15:28:00,1.129103e+08,1.645589e+08,1.000000e-06,8.830704e+10,8.847160e+10,2.512095e+10,1.992394e+08,...,6.590751e+15,5.538064e-14,0.074496,0.400944,0.713804,0.286196,-0.150930,-0.152438,-0.011356,-0.015702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,ZINC,2022,2023-06-26 21:49:00,5.346490e+10,6.777764e+11,4.375605e+11,1.798178e+12,2.475954e+12,7.080128e+11,9.948196e+11,...,1.639411e+00,2.226409e+02,0.289723,2.202541,0.312252,0.687748,-0.179672,-0.159128,-0.046103,-0.072902
2229,ZONE,2022,2023-04-03 15:09:00,4.910326e+09,3.747793e+11,4.837608e+10,2.770019e+11,6.517812e+11,1.991748e+11,1.057582e+11,...,1.390938e+01,2.624128e+01,1.032373,0.879154,0.532154,0.467846,0.144271,0.107514,0.110994,0.214485
2230,ZYRX,2022,2023-05-02 13:37:00,2.063763e+11,6.232536e+11,1.323574e+11,8.397621e+10,7.072298e+11,4.322842e+11,6.656257e+09,...,5.820380e+00,6.271068e+01,1.089278,1.636071,0.379352,0.620648,0.131564,0.102199,0.111323,0.368629
2231,JKSW,2020,2021-06-04 08:54:00,8.820607e+09,5.947902e+10,4.100464e+10,1.098151e+11,1.692941e+11,2.023736e+10,6.459183e+11,...,1.235913e-02,2.953282e+04,0.002993,-1.340727,-2.934902,3.934902,-17.044078,-2.234855,-0.006690,-0.057949
2232,JKSW,2022,2023-04-12 18:25:00,1.014200e+10,4.798261e+10,2.996684e+10,1.113603e+11,1.593429e+11,1.392848e+10,6.391865e+11,...,1.165054e-02,3.132903e+04,0.002191,-1.322705,-3.098801,4.098801,-26.548343,9.041484,0.019810,-0.063741